<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Ollsy - 로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h1>로그인</h1>

    <div class="social-login-buttons">
        <a href="/oauth2/authorization/naver" class="social-btn naver">네이버 로그인</a>
        <a href="/oauth2/authorization/kakao" class="social-btn kakao">카카오 로그인</a>
        <a href="/oauth2/authorization/google" class="social-btn google">구글 로그인</a>
    </div>
</div>
</body>
</html>
